body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.main-container {
    width: 30%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}



.details-container,
.marks-container {
    margin-bottom: 20px;
}


label {
    display: inline-block;
    width: 80px;
    text-align: left;
}

input {
    width: 150px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #45a049;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4caf50;
    color: white;
}

tfoot {
    font-weight: bold;
}

tfoot td {
    background-color: #ddd;
}